.perfil{
    display: flex;
    flex-direction: column;
    width:98vw;
    justify-content: space-between;
    list-style:none;
    margin-top: 1.5rem;
}

h4{
    margin-top: 0;
}

.lista ul{
    margin-top: 0;
    margin-bottom: 2rem;
}

.cerrarSesion,.borrarCuenta,#editarDes {
    background-color: #ffcc00; /* Green */
    border: none;
    color: white;
    padding: 1vh 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
  }

.borrarCuenta{
    background-color:rgb(255, 50, 50);
}

#editarDes{
    background-color:rgb(79, 138, 255);
}

.datosUs > :not(.editar){
    display: flex;
    flex-direction: row;
}

.contenido{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    margin-left:1rem;
}

h1{
    margin:0px;
}

.descripcion{
    margin-top:1.5rem;
}

input{
    border:1px solid black;
}

.accion{
    display: flex;
    flex-direction: row;
}

.lista form{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}